@page
@using HelpDeskApp.Dominio;
@model HelpDeskApp.frontend.Pages.Ambientes.Create1Model
@{
}
<h1>Nuevo Ambiente</h1>
<form method="post">

    
    <div class="row g-3">
        <div class="col">
        <label asp-for="ambiente.AmbNombre">Nombre</label>
        <input asp-for="ambiente.AmbNombre" class="form-control">
          </div>
    </div>

    <div class="row g-3">
        <div class="col">
        <label asp-for="ambiente.AmbUbicacion">Ubicacion</label>
        <input asp-for="ambiente.AmbUbicacion" class="form-control">
        </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Crear Ambiente</button>
</form>
<a class="btn btn-secondary" asp-page="./Index1">Volver</a>

