@page
@using HelpDeskApp.Dominio;
@model HelpDeskApp.frontend.Pages.Ambientes.Details1Model
@{
}
    <h1>Detalle del Ambiente</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.ambiente.AmbNombre</td>
    </tr>
    <tr>
        <th scope="col">Ubicación</th>
        <td>@Model.ambiente.AmbUbicacion</td>
    </tr>
